page-fwork {
    .ff {
        text-align: center;
        font-family: fantasy;
        text-shadow: brown 2px 2px 2px;
    }
    .hh {
        text-align: center;
        text-transform: uppercase;
    }
}