page-info {
    .info {
        border: 0px solid red;
        text-align: center;
        background-color: rgb(210, 213, 214);
        //text-shadow: blue 3px 3px 3px;
    }
    .bg {
        background-color: antiquewhite;
    }
}