    page-r-signs {
        .button {
            border: px solid red;
            margin-right: -250px;
        }
        .minfo {
            border: 1px solid red;
            text-align: center;
            text-shadow: red 3px 3px 3px;
            //background-color: blue;
        }
    }